<footer class="footer" style="background-image: url(img/chicken-bg.jpg);">

  @@include('../components/messengers.html', {}) 

  <div class="container">
    <div class="footer__image-box">
      <img class="footer__img-base" src="img/dog.png" alt="dog">
      <img class="footer__img-fragment" src="img/splash-transparent.png" alt="dog">
    </div>
    <div class="footer__inner">
      
        <p class="footer__subtitle center">
          our no. i ingridient:
        </p>
        <span class="footer__subtitle-span center">real chicken & egg</span>      
        <p class="footer__text">Sed molestie ante justo, vel ultrices risus interdum sed. Sed convallis
          sollicitudin imperdiet. Nulla congue leo ligula, quis dignissim justo placerat ac.
          Mauris ut scelerisque purus.</p>
       
      <div id="footer-social" class="footer-social">                                     
        <a class="footer-social__link" href="">
          <span class="footer-social__icon fab fa-whatsapp"></span>            
        </a>          
        <a class="footer-social__link" href="">          
          <span class="footer-social__icon fab fa-facebook-f"></span> 
        </a>                  
        <a class="footer-social__link" href="">
          <span class="footer-social__icon fas fa-at"></span>
        </a>        
      </div> 
      
      <div id="footer-logo" class="footer__logo">
        <a class="footer__logo-link" href="index.html">
          <img class="footer__logo-image" src="logo/logo.png" alt="logo">
        </a>           
      </div>
                                
    </div><!-- footer__inner --> 
      
  </div><!-- container -->      
</footer>
